.id-card-container {
  display: grid;
  align-content: center;
  justify-content: center;
  background: gainsboro;
}

.id-card {
  // padding: 2rem 2rem;
  letter-spacing: 0.02rem;
  position: relative;

  .front {
    background: white;
    width: 10.05cm;
    height: 14.85cm;
    margin: 1rem;

    .top {
      background: #f8ff95;
      padding: 1rem;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-around;
      align-items: center;
      // column-gap: 1rem;

      .logo {
        img {
          height: 100px;
          width: 100px;
        }
      }

      .title {
        text-align: center;

        h3 {
          font-weight: 500;
          font-size: 1.25rem;
          margin-bottom: 0.5rem;
          color: #b70404;
        }

        p {
          font-size: 14px;
        }
      }
    }

    .bottom {
      padding: 0 1rem;
      .photo {
        text-align: center;
        margin-bottom: 0;
        img {
          margin-top: 2rem;
          width: 125px;
          height: 125px;
        }
      }

      .info {
        text-align: center;
        padding-top: 1rem;
        color: darkblue;

        .name {
          font-weight: 500;
          font-size: 1.25rem;
          margin-bottom: 0.5rem;
          color: darkblue;
        }
      }

      .info-all {
        font-size: 14px;
        line-height: 1.5rem;
        padding: 1.5rem 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        justify-items: center;

        .title {
          font-weight: 500;
          color: #b70404;
        }
      }
    }

    .footer {
      font-size: 14px;
      color: darkblue;
      position: absolute;
      bottom: 1rem;
      margin: auto;
    }
  }
}
