.member {
  h2 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
  }

  .member-code {
    color: darkblue;
  }

  .details {
    background: #f2f1eb;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
    padding: 4rem;
    position: relative;

    .print-icon {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
    }

    .photo {
      margin: auto;
      margin-bottom: 2rem;
      width: 150px;
      height: 150px;
      background: gray;
    }

    .row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1.5rem;
      row-gap: 1rem;
      justify-content: center;

      .title {
        color: darkblue;
        font-weight: 500;
      }

      p {
        line-height: 1.5rem;
        color: #1f1e1e;
      }
    }

    .sndp-title,
    .family-title,
    .office-title {
      margin-top: 3rem;
      margin-bottom: 1.5rem;
      font-size: 1.1rem;
      font-weight: 500;
      text-align: center;
      color: darkblue;
    }

    .family-table {
      max-width: 500px;
      margin: auto;
    }

    .action-buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
      max-width: 400px;
      margin: auto;
      margin-top: 4rem;
    }
  }
}
