.members {
  h2 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
  }

  .utilities {
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 2rem;
    margin: auto;
    margin-bottom: 1.5rem;
  }
}
