.branches {
  h2 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
  }

  .all-branches {
    max-width: 600px;
    margin: auto;
  }

  .add-branch {
    display: flex;
    justify-content: end;
    max-width: 600px;
    margin: auto;
    margin-bottom: 1.5rem;
    align-items: center;
    column-gap: 0.5rem;
    align-content: stretch;

    .add-btn {
      height: 100%;
    }
  }
}
